.lead {
  color: pink;
}

.logo {
  margin: 2em;
}

.heading-a {
  color: white;
  font-size: 4em;
}

.header-page {
  font-size: 30px;
  margin-top: 0.8em;
  color: $purple-dark;

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
    margin-top: 1em;
  }
}

.page-body {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    font-size: 18px;
  }
}

.onskelista {
  font-size: 18px;
  font-weight: 300;

  &_item {
    margin-bottom: 0.5em;
  }
}
