<header>
  <div class="container text-center">
    <a class="clean-link" href="{{site.baseurl}}/index">
      <img class="logo" src="{{site.baseurl}}/assets/images/logo.svg" alt="">
    </a>
  </div>
  <div class="header-menu">
    <div class="container text-center">
      <ul class="header-nav">
        <li class="header-nav_item"><a class="header-nav_link" href="{{site.baseurl}}/bra-att-veta/">Bra att veta</a></li>
        <li class="header-nav_item"><a class="header-nav_link" href="{{site.baseurl}}/hitta-hit/">Hitta hit</a></li>
        <li class="header-nav_item"><a class="header-nav_link" href="{{site.baseurl}}/onskelista/">Önskelista</a></li>
        <li class="header-nav_item"><a class="header-nav_link" href="{{site.baseurl}}/osa/">OSA</a></li>
      </ul>
    </div>
  </div>
</header>
