---
layout: global
---
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>hej</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
      <div class="teaser">
        <a href="{{site.baseurl}}clara">
        <img src="{{site.baseurl}}/assets/images/clara.jpg">
        <h3>Clara om Julia</h3></a>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      <div class="teaser">
        <a href="{{site.baseurl}}/julia/">
        <img src="{{site.baseurl}}/assets/images/julia.jpg">
        <h3>Julia om Clara</h3></a>
      </div>
    </div>
  </div>
</div>
