---
layout: global
---

<div class="hero">
  <div class="container">
  </div>
</div>

<div class="countdown">
  <div class="container text-center">
    <p class="countdown_text">
      <span data-cdt-id="1704643">--:--:--:--</span>
      <script src="https://w2.countingdownto.com/1704643.js"></script>
    </p>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img class="quote-image" src="{{site.baseurl}}/assets/images/kram.jpg">
        </div>
      <div class="col-xs-12 col-md-6">
        <p class="page-body -quote">Nu tänker jag vara cheesy, jag är ju ändå en ostälskare av rang! Julia är allt jag inte visste att jag ville ha. Det är fantastiskt att leva med en person som har nära till både skratt och gråt, som fuldansar i sin pyjamas varje dag, som bakar på tok för gott och för mycket, som har ett mer ordnat linneskåp än min mormor hade, som står ut med mina sjukdomar och deras symtom, vars händer alltid är kalla (mina är ju alltid varma!), som minutiöst researchar allt om allt och låter mig välja bland de tre bästa alternativen… Listan kan göras lång. Julia får mig att skratta varje dag. Jag kan inte tänka mig ett liv utan henne. <br> - Clara
</p>
      </div>
    </div>
</div>
