---
layout: global
---

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
      </div>
    </div>
  </div>
</div>

<div class="countdown">
  <div class="container text-center">
    <p class="countdown_text">
      <span data-cdt-id="1704643">--:--:--:--</span>
      <script src="https://w2.countingdownto.com/1704643.js"></script>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <div class="teaser">
        <a href="{{site.baseurl}}clara">
        <img src="{{site.baseurl}}/assets/images/clara.jpg">
        <h2>Clara om Julia</h2></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="teaser">
        <a href="{{site.baseurl}}/julia/">
        <img src="{{site.baseurl}}/assets/images/julia.jpg">
        <h2>Julia om Clara</h2></a>
      </div>
    </div>
  </div>
</div>
